<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1.0" package="com.deltadev.graphingcalculator" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
	<application android:theme="@style/MainTheme" android:label="Graphing Calculator"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>